@font-face {
    font-family: 'Poppins';
    src: url("./Fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Zain';
    src: url("./Fonts/Zain-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Zain';
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: linear-gradient(to bottom, #64ff95, #fff);
}

.head {
    padding: 0 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.head .title {
    font-size: 37px;
    font-weight: 900;
}

.input {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 6px;
}

input {
    width: 80%;
    border: 1px solid #dcdcdc;
    outline: none;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 17px;
    transition: all 0.3s ease-in-out;
}

button {
    width: 20%;
    background-color: #00cb40;
    color: white;
    border: none;
    outline: none;
    padding: 3px 6px;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

input:focus {
    border: 1px solid #00cb40;
    box-shadow: 2px 2px 2px #9fe8b6;
}

.body {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}

.body .location-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.body .location-info .names {
    display: flex;
    flex-direction: column;
}

.body .location-info .names .city-name {
    font-size: 30px;
    font-weight: 700;
}

.body .location-info .names .region-name,
.body .location-info .names .country-name {
    font-size: 18px;
    font-weight: 700;

}

.body .location-info .time {
    font-size: 12px;
}

.body .weather-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body .weather-info img {
    width: 41px;
    height: 41px;
}

.body .weather-info .condition {
    font-size: 17px;
    font-weight: 700;
}

.body .weather-info .temp {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    margin: 5px 0;
}

.body .weather-info .temp .circle {
    margin-top: -4px;
    font-size: 10px;
}

.body .weather-info .wind,
.body .weather-info .humidity {
    font-size: 14px;
}

.spiner {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 7px solid;
    border-color: black black black transparent;
    animation: spin 1s linear infinite;
    align-self: center;
    margin: auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.error i {
    font-size: 30px;
    color: crimson;
}

.error p {
    color: crimson;
    font-weight: 700;
    font-size: 17px;
}
